@import '../../../styles/common';

.btn {
  all: unset;
  padding: 1rem;
  border-radius: 5px;
}

@each $name, $color in $colors-list {
  .btn-#{$name} {
    background-color: $color;
    color: $white;
  }

  .btn-link-#{$name}{
    color: $color;
  }
}
