<div class="comment">
  <div class="comment-header">
    <img src="{{comment.user.image.webp}}">
    <h3>{{comment.user.username}}</h3>
    <p>{{comment.createdAt}}</p>
  </div>
  <div class="comment-body">
    <form class="comment-form" *ngIf="showEdit" (ngSubmit)="onSubmit()">
      <textarea>{{comment.content}}</textarea>
      <app-button class="btn-blue" text="UPDATE"></app-button>
    </form>
    <p *ngIf="!showEdit">
      <b class="text-blue" *ngIf="comment.replyingTo">@{{comment.replyingTo}}</b>
      {{comment.content}}
    </p>
  </div>
  <app-comment-rating class="comment-rating" [comment]="comment" (onUpvoteComment)="onUpvote($event)" (onDownvoteComment)="onDownvote($event)"></app-comment-rating>
  <div class="comment-buttons">
      <app-button *ngIf="!isUserComment" class="btn-link-blue" text="Reply" icon="fa-reply" (btnClick)="onToggleAddReply()"></app-button>
      <app-button *ngIf="isUserComment" class="btn-link-red" text="Delete" icon="fa-trash" (btnClick)="onToggleDelete()"></app-button>
      <app-button *ngIf="isUserComment" class="btn-link-blue" text="Edit" icon="fa-pen" (btnClick)="onToggleEdit()"></app-button>
  </div>
</div>
<app-comment-delete *ngIf="showDelete" [comment]="comment" (onDeleteComment)="onDelete($event)" (onCancelDelete)="onToggleDelete()"></app-comment-delete>
<div class="comment-replies">
  <app-comment-reply-add class="comment-reply-add" *ngIf="showAddReply" [comment]="comment"></app-comment-reply-add>
  <app-comment-replies class="comment-replies" [replies]="replies"></app-comment-replies>
</div>

